/*
.login-wrapper{
  width: 500px;
  height: 250px;
  margin: 50px;
  display: flex;
  justify-content: center;
}
*/

.container {
  display: flex;
  justify-content: center;
}

.login-wrapper {
    margin: 3% 10% 0;
    padding: 25px 5px;

}

