.one-rectangle-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  .one-block-element {
    display: block;
    min-height: 100px;
    height: auto;
    padding: 20px;
    font-size: 25px;
  }
  
  @import '~bootstrap/scss/bootstrap'