.colored-rectangles-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.block-element {
  display: block;
  min-height: 200px;
  height: auto;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

@import '~bootstrap/scss/bootstrap'
