@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './page/index.scss';
@import './nav-bar/index.scss';

html, body {
  padding: 10;
  margin: 10;
  background-color: rgb(0, 0, 0);
}

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: rgb(35, 48, 121);
}
