$nav-color: rgb(33, 37, 41);

nav.navbar-style {
  display: flex;
  background-color: $main-color;
  padding: 20px;
  // margin-bottom: 30px;
  box-shadow: 0px 10px 40px 10px black;
}

Button.register_button {
  // color: white;
  background-color: orangered;
}

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
